<div id="about">
    <div class="container">
        <h1>#关于:</h1>
        <p class="middle">
            <span>页面作者:yxp</span>
            <span>2025年7月2日</span>
        <p>这是一篇yxp学习webpack后的笔记网页，webpack——静态模块打包工具，以前一直好奇为什么Vue项目中能进行js模块化编写代码，甚至对html，css进行模块化，学完webpack后让我对此有了新的认知；</p>
        <p>在此之前前端技术栈已经一次积累了HTML，CSS，JS，Node，TS，Vue，SCSS，Git等主要技术，还有Lottie，GSAP，EChart等库，现在加上webpack</p>
        <p>网站标题webpack，一个碾压vite的存在，只是刚学完webpack的感想，webpack功能虽然强大，但是在小项目中优势是不如vite的，虽然现在还没有学习vite</p>
        <p>现在只是学习webpack基础部分，对于eslint，babel的配置，以及一些性能优化暂未深入，以后会继续加油！！！</p>
        <p>这个网页UI没有很用心的美化，只是本人一篇感想，也是第一篇。</p>
    </div>
</div>