<div id="home">
    <div class="container">
        <div class="html">
            <img src="./img/html.png" alt="">
        </div>
        <div class="css">
            <img src="./img/css.png" alt="">
        </div>
        <div class="js">
            <img src="./img/js.png" alt="">
        </div>
        <div class="ts">
            <img src="./img/ts.png" alt="">
        </div> 
        <div class="vue">
            <img src="./img/Vue.png" alt="">
        </div>
        <div class="node">
            <img src="./img/nodejs_alt.png" alt="">
        </div>
        <div class="json">
            <img src="./img/json.png" alt="">
        </div>
        <div class="scss">
            <img src="./img/scss.png" alt="">
        </div>       
        <div class="figma">
            <img src="./img/Figma.png" alt="">
        </div>
        <div class="git">
            <img src="./img/git.png" alt="">
        </div>
        <div class="lottie">
            <img src="./img/lottie.png" alt="">
        </div>
        <div class="svg">
            <img src="./img/Svg.png" alt="">
        </div>
        <div class="webpack">
            <img src="./img/webpack.png" alt="">
            <span>Webpack,碾压Vite的存在</span>
        </div>
    </div>
</div>