<div id="header">
    <div class="left">
        <img src="../../assets/img/webpacklog.svg" alt="">
    </div>
    <div class="right">
        <div>
            <a href="#home"><span>首页</span></a>
        </div>
        <div>
            <a href="#about"><span>关于</span></a>
        </div>
        <div>
            <a href="#introduce"><span>网页介绍</span></a>
        </div>
        <div>
            <a href="#knowledge"><span>知识列表</span></a>
        </div>
        <div class="avatar">
            <img src="../../assets/img/cat.jpg" alt="">
        </div>
    </div>
</div>